/* Color Scheme:
#1A64AC  Blue
#FFC815 Yellow
#FFA015 Orange
#2F27B7 Purple
*/
:root {
    --heading: #1A64AC;
    --heading-accent: #1B1498;
    --accent: #FFA015;
    --dark-border: #6d6e70;
    --light-border: #90A4AE;
    --light-background: #f2f2f2;
    --minor-text-size: .9rem;
    --minor-line-height: 1.8rem;
    --basic-padding: 10px;
}

body {
     background:url(../img/background.png) repeat; 
     background-attachment:fixed; 
     background-position: center bottom;
     background-size: cover;
     
     font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.row {
    max-width: 85rem;
}

.inline-block {
    display: inline-block;
}


.right-aligned-inline{
   display: inline-block;
   float: right; 
   text-align: right;
}

.welcome-section {
    text-align: center;
    height: 100vh;
}

.welcome-content {
    color: white;
    margin-top: 40vh;
}

.section {
    border: 2px solid var(--dark-border);
    background-color: white;
    margin-bottom: 10vh;
    padding: 3vh 5vw 5vh 5vw;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.25);
}

.section .section-header {
    padding-left: var(--basic-padding);
    border-left: 8px solid var(--heading-accent); 
}

.section .section-header .section-title {
    color: var(--heading);
}

.bottom-left-border {
    border-left: 1px solid var(--accent); 
    border-bottom: 1px solid var(--accent); 
}

.top-right-border {
    border-right: 1px solid var(--accent); 
    border-top: 1px solid var(--accent); 
}

.section .about-me .about-me-text {
    display: inline-block;
    padding-left: var(--basic-padding);
    padding-bottom: var(--basic-padding);
}

.section .degree-info .degree-dates {
    font-weight: bold;
    font-style: italic;
    font-size: var(--minor-text-size);
    line-height: var(--minor-line-height);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.in-progress {
    padding-right: 3px;
    color: var(--accent);
    font-size: 1.1rem;
}

.bounce1 {
    animation: bounce 1s infinite;
    color: var(--accent);
    font-size: 1.1rem;
}

.bounce2 {
    animation: bounce 1s infinite .1s;
    color: var(--accent);
    font-size: 1.1rem;
}

.bounce3 {
    animation: bounce 1s infinite .2s;
    color: var(--accent);
    font-size: 1.1rem;
}

.skills-header {
    border-top: 2px solid var(--dark-border);
    border-right: 2px solid var(--dark-border);
    border-left: 2px solid var(--dark-border);
    background-color: var(--light-background);
    color: var(--heading);
    text-align: center;
}

.skills-header .skill:hover {
    color: var(--accent);
}

.skills-header .skill.active {
    background-color: var(--accent);
    color: white;
}

.skills-header .skill {
    cursor: pointer;
    height: 4rem;
    border-left: 1px solid var(--light-border);
    padding-bottom: 2px;
}

.skills-header .skill.active:after{
    position: relative;
    content: "";
    top: -10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

.skills-header .skill:last-child {
    border-right: 1px solid var(--light-border);
    padding-bottom: 2px;
}

.section.skills-section {
    min-height: 26vh;
    border: 2px solid var(--accent);
    background-color: white;
    margin-bottom: 10vh;
    padding: 3vh 0vw 5vh 0vw;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.25);
}

.section.skills-section .skill-item {
    border: 3px solid var(--heading-accent);
    color: var(--heading-accent);
    text-align: center;
    margin-right: 10px;
}

.section.skills-section .tab {
    display: none;
}

.section.skills-section .tab.active {
    display: block;
}


.carousel {
    width: 50vw;
    height: 25vh;
}