body {
  background: url(../img/background.png) repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
.inline-block {
  display: inline-block;
}
.right-aligned {
  float: right;
  display: block;
  text-align: right;
}
.right-aligned-inline {
  display: inline-block;
  float: right;
  text-align: right;
}
.welcome-section {
  margin-top: 20vh;
}
.welcome-section .profile-pic {
  display: block;
  margin: 0 auto;
  height: 20vh;
  border-radius: 100%;
}
.welcome-section .welcome-content {
  text-align: center;
  color: white;
  margin-bottom: 25vh;
}
.section {
  border: 2px solid #6d6e70;
  background-color: white;
  margin-bottom: 10vh;
  padding: 3vh 5vw 5vh 5vw;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.section .section-header {
  padding-left: 10px;
  border-left: 8px solid #1B1498;
}
.section .section-header .section-title {
  color: #1A64AC;
}
.section .section-sub-header {
  margin-top: 2vh;
  padding-left: 10px;
  color: #1A64AC;
  border-left: 6px solid #1B1498;
}
.about-me-section .about-me-text {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 10px;
}
.degree-section .degree-dates {
  width: 100%;
  font-weight: bold;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.experience-section .job-dates {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.experience-section .companies {
  margin-left: 5vw;
}
.experience-section ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}
.experience-section li:before {
  content: "";
  border-color: transparent #FFA015;
  border-style: solid;
  border-width: 0.45em 0 0.45em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.25em;
  position: relative;
}
.skills-section {
  min-height: 28vh;
  border: 2px solid #FFA015;
  background-color: white;
  margin-bottom: 10vh;
  padding: 3vh 0vw 5vh 0vw;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.skills-section .skill-item {
  border: 3px solid #1B1498;
  color: #1B1498;
  text-align: center;
  margin-right: 10px;
}
.skills-section .tab {
  display: none;
}
.skills-section .tab.active {
  display: block;
}
.project-section .projects {
  margin-left: 5vw;
}
.bottom-left-border {
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #FFA015;
  border-bottom: 1px solid #FFA015;
}
.top-right-border {
  border-right: 1px solid #FFA015;
  border-top: 1px solid #FFA015;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.in-progress {
  padding-right: 3px;
  color: #FFA015;
  font-size: 1.1rem;
}
.bounce1 {
  animation: bounce 1s infinite;
  color: #FFA015;
  font-size: 1.1rem;
}
.bounce2 {
  animation: bounce 1s infinite .1s;
  color: #FFA015;
  font-size: 1.1rem;
}
.bounce3 {
  animation: bounce 1s infinite .2s;
  color: #FFA015;
  font-size: 1.1rem;
}
.skills-header {
  border-top: 2px solid #6d6e70;
  border-right: 2px solid #6d6e70;
  border-left: 2px solid #6d6e70;
  background-color: #f2f2f2;
  color: #1A64AC;
  text-align: center;
}
.skills-header .skill:hover {
  color: #FFA015;
}
.skills-header .skill {
  cursor: pointer;
  height: 4rem;
  border-left: 1px solid #90A4AE;
  padding-bottom: 2px;
}
@media only screen and (max-width: 40em) {
  .skills-header .skill {
    border-bottom: 1px solid #6d6e70;
  }
}
.skills-header .skill.active {
  background-color: #FFA015;
  color: white;
}
@media only screen and (min-width: 40.063em) {
  .skills-header .skill.active:after {
    position: relative;
    content: "";
    top: -10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
  }
}
.skills-header .skill:last-child {
  border-right: 1px solid #90A4AE;
  padding-bottom: 2px;
}
